@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
        url('../fonts/Satoshi-Variable.woff') format('woff'),
        url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    #header, .body-text{
        margin: 5px 10px 10px;
        padding: 0;
        width: calc(100vw - 20px);
    }

    .map{
        margin: 10px 10px 10px;
        height: 50vh;
        width: calc(100vw - 20px);
    }

    #footer {
        padding: 10px 10px 10px;
    }
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Satoshi-Variable';
}


@media only screen and (min-width: 600px) {
    #header {
        margin: 20px 15vw 20px;
    }

    .body-text {
        width: 70vw;
        margin: 10px 15vw 10px;
    }

    .map {
        margin: 20px 15vw 20px;
        width: 70vw;
        height: 90dvh;
    }

    #footer {
        padding: 10px 15vw 10px;
    }
}

.map {
    border-radius: 10px;
}

#footer {
    text-align: right;
    margin-top: 20px;
    color: white;
    background-color: #336FAB;
    font-size: 0.8em;
}

#safe-text {
    color: #336FAB;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #336FAB;
}

#unsafe-text {
    color: #D12F49;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #D12F49;
}
